$primarycolor: #1d1d20;
$secondarycolor: rgb(212, 212, 212);


* {
  padding: 0;
  margin: 0;
  font-family:'Raleway', sans-serif;
  background-color: $secondarycolor;
  color: white;
}

html {
  scroll-behavior: smooth;

  }

body {
  padding-top: 80px;
} 

.header-container {
  background-color: $primarycolor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 50px;
  position: fixed;                            
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 2px 5px $primarycolor;

    .name { 
      font-weight: bold;
      font-size: 18px;
      margin-left: 30px;
      cursor: pointer;
      background-color: $primarycolor;
    }

    .link-header {
      padding-right: 30px;
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $primarycolor;
    }  

    a {
      background-color: $primarycolor;
    }
}


 /* Image and Presentation Landing-Section */ 

.landing-container {
  background-color: $primarycolor;
  height: 860px;
}


.landing-image {
  width: 100%;
  height: 860px;
  object-fit: cover;
  position: relative;
  opacity: 0.75;
}

.landing-paragraph {
  position: absolute;
  left: 40px;
  top: 200px;
  background-color: transparent;

    h1, h3 {
      font-weight: bold;
      font-size: 80px;
      background-color: transparent;
    }

    h3 {
      font-size: 46px;
    }

    a {
      display: inline-block;
      margin-top: 25px;
    }
  }

.landing-button {
  
  background-color: $primarycolor;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 32px;
  border: solid 1.5px;
  cursor: pointer;
}

.landing-button:hover {
  opacity: 0.7;
}

/* My Picture and my Presentation + CV */ 

.about-container {
  height: 450px;
  width: auto;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: top;
  align-items: center;
}

.bio-paragraph {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 500px;
  color: $primarycolor;
  text-align: center;

  strong {
    color: $primarycolor;
  }
}

.bio-title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  color: $primarycolor;
}

.bio-container {
  height: 450px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bio-svg1,
.bio-svg2 {
  height: 150px;
  width: auto;
}

.cv {
  text-align: center;
  background-color: $primarycolor;
  margin-top: 36px;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 32px;
  border: solid 1.5px;
  cursor: pointer;
}

.cv:hover {
  opacity: 0.7;
}

hr {
  margin-top: 100px;
  margin-bottom: 80px;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid $primarycolor;
  border-radius: 2px;
}



/* step4 = le mie skills */

.skills-container {
  height: 450px;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: $secondarycolor;
}

.my-skills {
  font-size: 46px;
  font-weight: bold;
  color: $primarycolor;
  background-color: $secondarycolor;
  text-align: center;
}

.svg-skills-container{
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $secondarycolor;
  padding-bottom: 80px;
}

.skills-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $secondarycolor;
  color: $primarycolor;
  padding-bottom: 80px;

}

.skill-img {
  height: 100px;
  width: auto;
  object-fit: contain;
  background-color: $secondarycolor;
}

.skills-paragraph {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 500px;
  background-color: $secondarycolor;
  color: $primarycolor;
  text-align: center;
  
  strong {
    background-color: $secondarycolor;
    color: $primarycolor;
  }
}

/* step5 = i miei progetti  */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 450px;

  background-color: $secondarycolor;
  color: $primarycolor;

  .portfolio-title {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    background-color: $secondarycolor;
    color: $primarycolor;
  }

  .portfolio-text {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 500px;
    background-color: $secondarycolor;
    color: $primarycolor;
    text-align: center;
  }

  img {
    background-color: $secondarycolor;
    color: $primarycolor;

    object-fit: contain;
    height: 300px;
    object-position: center;
  }

}

/* step6 contatti e social links */

.contatti {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 400px;
  background-color: $secondarycolor;
  color: $primarycolor;
}

.contatti-title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  background-color: $secondarycolor;
  color: $primarycolor;
}

.contatti-text {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 500px;
  background-color: $secondarycolor;
  color: $primarycolor;
  text-align: center;
}

.contattami-button {
  background-color: $primarycolor;
  margin-top: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 32px;
  border: solid 1.5px;
  cursor: pointer;
}

.contattami-button:hover {
  opacity: 0.7;
}


/* Footer */

.footer-container {
  background-color: $primarycolor;  
  padding: 15px;                         
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.footer-text {
  padding: 14px 0 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $primarycolor;

  p {
    background-color: $primarycolor;
    padding: 2px 0 2px 0;
  }

  .p-bold {
    font-weight: bold;
  }
}


/* Media Query */

@media (max-width: 830px) {

  .about-container {
  height: auto;
  width: auto;
}
  .bio-container {
    height: auto;
  
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
  }

  .bio-svg2 {
    display: none;
  }

  .svg-skills-container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $secondarycolor;
  padding-bottom: 80px;

  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
}
}



